/* -----ОБНУЛЕНИЕ--------------------------------------------------------------------------------------- */
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*::before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

header,nav,main,footer,section,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a,input,button,textarea{font-family:inherit;color:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, ol, li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/* -----ROOT   ----------------------------------------------------------------------------------------- */
:root {
  --main-background-color: #ffffff;
  --main-text-color: #495057;
  --main-color: #f0ae12;
  --white: #ffffff;
  --gray: #f3f4f5;
  --light-gray: #e1e1e1;
  --orange: #d6932e;
}

/* -----WRAPPER----------------------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* -----TEH-CHAPTER------------------------------------------------------------------------------------- */
[class*="__container"] {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

/* -----HEADER------------------------------------------------------------------------------------------ */
.header {
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {}
.header__menu {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {}
.logo {}
.logo__link {}
.logo__link img {}
.header__nav {}
.nav {}
.nav__items {
  display: flex;
}
.nav__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}
.nav__item:not(:last-child) {
  margin: 0 40px 0 0;
}
.nav__link {}
.nav__link:after {
  background-color: #C8945D;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.nav__link:hover:after,
.nav__link:focus:after {
  width: 100%;  
}
.header__body {
  background-color: #F3F4F5;
  border-top: 1px solid #C8945D;
  border-bottom: 1px solid #C8945D;
}
.body {}
.body__text{
  height: 408px;
  display: flex;
  justify-content: space-between;
}
.header__text-me {
  width: 100%;
}
.header__hello {
  font-weight: 600;
  line-height: 120%;
  margin: 57px 0 0 0;
}
.header__surname {
  font-weight: 700;
  font-size: 64px;
  line-height: 122%;
  margin: 14px 0 0 0;
}
.header__first-name {
  font-weight: 700;
  font-size: 64px;
  line-height: 122%;
  margin: 14px 0 0 136px;
}
.header__abilities {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin: 50px 0 0 0;
}
.header__abilities span {
  color: #C8945D;
}
.header__image-me {
  display: flex;
  align-items: flex-end;
}
.header__image-me img {
  height: 349px;
}

/* -----MAIN-------------------------------------------------------------------------------------------- */
.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  top: 0;
  left: 0;
}

/* -----CONTENT---------------------------------------------------------------------------------------- */
.main__content {
  margin: 108px 0 0 35px;
}
.content {}
.content__name {
  display: flex;
  align-items: baseline;
}
.content__name span {
  font-weight: 900;
  line-height: 120%;
  color: #C8945D;
}
.content__name h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 122%;
  margin: 0 0 0 28px;
}
.content__hr-line {
  width: 108px;
  border: 2px solid #C8945D;
  margin: 28px 0 28px 16px;
}
.content__items {
  margin: 0 18px 0 45px;
}
.content__item {
  font-weight: 500;
  line-height: 120%;
}
.content__item p:not(:last-child) {
  margin: 0 0 8px 0;
}
.content__item:not(:last-child) {
  margin: 0 0 18px 0;
}
.content__subsection {
  font-weight: 700;
  font-size: 32px;
  line-height: 121%;
}
.content__link {
  border-bottom: 2px dashed #C8945D;
}
.content__points {
  display: inline;
}
.content__code {
  background-color: #F7F9FA;
  white-space: pre;
  margin: 14px 0;
}

/* -----FOOTER------------------------------------------------------------------------------------------ */
.footer {
  width: 100%;
  top: 0;
  left: 0;
  background: #F3F4F5;
  border-top: 1px solid #C8945D;
  margin: 108px 0 0 0;
}
.footer__container {}
.footer__items {
  display: flex;
  justify-content: center;
  margin: 18px 0;
}
.footer__item {}
.footer__item:not(:last-child) {
  margin: 0 88px 0 0;
}
.footer__item img {
  height: 103px;
  opacity: 0.8;
}
.footer__item span.mdi-github {
  font-size: 108px;
}
.footer__link {}
.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  text-align: center;
}

/* -----BURGER------------------------------------------------------------------------------------------ */
.header__burger {
  display: none;
}
@media (max-width: 767.98px){
  body.lock {
      overflow: hidden;
  }
  .header__burger {
      display: block;
      position: relative;
      width: 40px;
      height: 20px;
      z-index: 21;
  }
  .header__burger::before {
      top: 0;
  }
  .header__burger::after {
      bottom: 0;
  }
  .header__burger span {
      position: absolute;
      background-color: #495057;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
      transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
      content: '';
      background-color: #495057;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
      transform: scale(0);
  }
  .header__burger.active::before {
      background-color: #495057;
      transform: rotate(45deg);
      top: 9px;
  }
  .header__burger.active::after {
      background-color: #495057;
      transform: rotate(-45deg);
      bottom: 9px;
  }

  .header__nav {
      position: fixed;
      top: 0;
      right: -108%;
      text-align: center;
      width:  calc(100% - 350 * ((100vw - 320px) / 448));
      height: 100%;
      overflow: auto;
      background-color: #fff;
      transition: all 0.3s ease 0s;
      padding: 20px 0px 0px 11px;
      z-index: 18;
  }
  .header__nav.active {
      right: -1px;
  }
  .nav__items {
    display: block;
    margin: 20px 0 0 0;
  }
  .nav__item {
    font-size: 28px;
  }
  .nav__item:not(:last-child) {
    margin: 0 0 14px 0;
  }
}

/* -----MEDIA------------------------------------------------------------------------------------------- */
@media (max-width:1023.98px){
  .header__image-me img {
    height: calc(260px + 89 * ((100vw - 320px) / 704));
  }
  .header__hello {
    margin: 36px 0 0 0;
    font-size: calc(18px + 6 * ((100vw - 320px) / 704));
  }
  .header__abilities {
    margin: 28px 0 0 0;
    font-size: calc(18px + 6 * ((100vw - 320px) / 704));
  }
  .header__surname {
    font-size: calc(46px + 18 * ((100vw - 320px) / 704));
  }
  .header__first-name {
    font-size: calc(46px + 18 * ((100vw - 320px) / 704));
    margin: 14px 0 0 calc(0px + 136 * ((100vw - 320px) / 704));
  }
  .main__content {
    margin: calc(81px + 27 * ((100vw - 320px) / 704)) 0 0 calc(0px + 35 * ((100vw - 320px) / 704));
  }
  .content__name h2 {
    font-size: calc(40px + 14 * ((100vw - 320px) / 704));
  }
  .content__hr-line {
    margin: calc(18px + 10 * ((100vw - 320px) / 704)) 0 calc(18px + 10 * ((100vw - 320px) / 704)) 16px;
  }
  .content__items {
    margin: 0 18px 0 calc(0px + 45 * ((100vw - 320px) / 704));
  }
  .content__item {
    font-size: calc(18px + 6 * ((100vw - 320px) / 704));
  }
  .content__subsection {
    font-size: calc(26px + 6 * ((100vw - 320px) / 704));
  }
  .footer__item span.mdi-github {
    font-size: calc(74px + 34 * ((100vw - 320px) / 704));
  }
  .footer__item img {
    height: calc(68px + 35 * ((100vw - 320px) / 704));
  }
  .footer__item:not(:last-child) {
    margin: 0 calc(36px + 52 * ((100vw - 320px) / 704)) 0 0;
  }
}
@media (max-width: 600.98px){
  .body__text{
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    align-items: center;
  }
  .header__image-me img {
    margin: 18px 0 0 0;
  }
}
