:root {
  --main-background-color: #ffffff;
  --main-text-color: #495057;

  --main-color: #f0ae12;
  --white: #ffffff;
  --gray: #f3f4f5;
  --light-gray: #e1e1e1;
  --orange: #d6932e;
}

/* -----ОБНУЛЕНИЕ--------------------------------------------------------------------------------------- */
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*::before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

header,nav,main,footer,section,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a,input,button,textarea{font-family:inherit;color:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul, ol, li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


/* -----WRAPPER----------------------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* -----TEH-CHAPTER------------------------------------------------------------------------------------- */
[class*="__container"] {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

/* -----HEADER------------------------------------------------------------------------------------------ */
.header {
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {}
.header__menu {}
.header__logo {}
.logo {}
.logo__link {}
.header__nav {}
.nav {}
.nav__items {}
.nav__item {}
.nav__link {}
.header__body {}
.header__text-me {}
.header__hello {}
.header__surname {}
.header__first-name {}
.header__abilities {}
.header__image-me {}
.header__burger {}

/* -----MAIN-------------------------------------------------------------------------------------------- */
.main {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  top: 0;
  left: 0;
}

/* -----PAGINATION-------------------------------------------------------------------------------------- */
.main__pagination {
  height: 34px;
}
.pagination a {
  font-weight: 500;
  /* color: black; */
  float: left;
  /* padding: 8px 16px; */
  padding: 6px 12px;
  margin:0px 1px;
  text-decoration: none;
  border:1px solid #CED4DA;
  transition: background-color .3s;
}
.pagination a.active {
  /* background-color: #d7bb6c; */
  background-color: #F7931E;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #d4d5d2;
}

/* -----FOOTER------------------------------------------------------------------------------------------ */
.footer {
  width: 100%;
  top: 0;
  left: 0;
}
